*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #eae1d2;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
}

p {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    color: #663300;
    width: 30%;
    font-size: 36px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 10px;
}

.slide__container {
    width: 1060px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.header__wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
}

.item-img {
    display: flex;
    align-items: center;
    height: 10px;
    width: 5px;
    text-align: center;
    margin-right: 6px;
    margin-top: 3px;
}

header {
    display: flex;
    background: #bb4a1b;
    height: 52px;
    align-items: center;
    text-transform: uppercase;
    padding: 0 20px;
}

.header__nav {
    display: flex;
    width: 60%;
    font-size: 14px;
}

.nav__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
}

.content__list--item a {
    display: flex;
    justify-content: space-between;
    width: 150px;
    color: rgb(99, 99, 99);
}

.nav__list--item a:hover {
    color: #010101;
}

.content__list--item a:hover {
    color: rgb(99, 99, 99);
}

.dropdown-modal, .dropdown-submodal {
    position: relative;
    display: inline-block;
}

.dropdown__content, .dropdown__content-sub {
    display: none;
    position: absolute;
    background-color: #eae1d2;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 99;
    width: 150px;
    top: 20px;
}

.dropdown__content-sub {
    top: 0px;
    left: 158px;
}

.dropdown-modal:hover .dropdown__content, .dropdown-submodal:hover .dropdown__content-sub {
    display: block;
}

.content__list--item, .content-sub__list--item {
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 21px;
    border-bottom: 1px solid rgb(213, 202, 186);
}

.content__list--item:hover, .content-sub__list--item:hover {
    background: rgb(158, 158, 158);
}

.dropdown__content::before {
    content: '';
    position: absolute;
    left: 20px;
    top: -8px;
    border: 5px solid transparent;
    border-bottom: 5px solid #eae1d2;
}

.dropdown__content-sub::before {
    content: '';
    position: absolute;
    left: -9px;
    top: 12px;
    border: 5px solid transparent;
    border-right: 5px solid #eae1d2;
}

.header_swiper {
    height: 500px;
}

.slider__content {
    width: 660px;
    height: 350px;
    border: 2px solid rgba(124, 73, 72, 0.5);
    background: rgba(159, 153, 148, 0.2);
    text-transform: uppercase;
    text-align: left;
    z-index: 99;
    padding: 25px 25px;
}

.swiper-slide {
    display: flex;
    align-items: center;
}

.slide-img {
    position: absolute;
    z-index: -1;
    height: 500px;
    width: 100%;
}

.slide-img img {
    width: 100%;
    height: 100%;
}

.content__title {
    font-size: 36px;
    color: #fffefe;
    margin-bottom: 40px;
}

.content__text {
    color: #ffffff;
    font-size: 24px;
    line-height: 36px;
}

.arrow-right, .arrow-left {
    position: absolute;
    z-index: 20;
    top: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background: rgba(247, 246, 246, 0.3);
    border: 1px solid rgba(216, 216, 216, 0.3);
    cursor: pointer;
    margin: 0 auto;
}

.arrow-right:hover, .arrow-left:hover {
    background: rgba(19, 19, 19, 0.6);
}

.arrow-left {
    right: 5%;
}

.arrow-right {
    left: 5%;
}

.arrow-right img, .arrow-left img {
    margin: 0 auto;
}

.swiper-pagination-bullet {
    height: 10px;
    width: 40px;
    border-radius: 0;
    border: 1px solid #ac4418;
    background: rgba(172, 68, 24, 0.8);
}

.our-tasks {
    display: flex;
    align-items: center;
    height: auto;
}

.our-tasks__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10px 40px 10px;
}

.our-tasks__card {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 340px;
    background: rgba(163, 163, 161, 0.2);
    border: 2px solid rgba(163, 163, 161, 0.2);
    align-items: center;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.our-tasks__wrapper:last-child(1) {
    margin-right: 0;
}

.our-tasks__card:hover {
    border: 2px solid #bb4a1b;
}

.align-0 {
    margin-right: 0;
}

.card__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #222222;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.our-tasks__card:hover .card__image {
    background: #bb4a1b;
}

.card__image img {
    margin: 0 auto;
}

.card__title {
    color: #555555;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.card__text {
    color: #888888;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Noto Sans', sans-serif;
}

.portfolio {
    background: #bb4a1b;
    height: 320px;
}

.section-title {
    margin-top: 50px;
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
}

.portfolio_swiper {
    width: 1000px;
}

.portfolio__slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    cursor: pointer;
}

.slide__image, .slide__image img {
    width: 100%;
    height: 175px;
}

.slide__wrapper {
    position: relative;
}

.slide__image {
    width: 100%;
    height: 100%;
    top: 0;
}

.slide__desc {
    position: absolute;
    bottom: 0;
    background: #2e2d2d;
    width: 100%;
    height: 35px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 26px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.slide__desc h5 {
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.slide__hover {
    z-index: 20;
    position: absolute;
    background: rgba(171, 68, 24, 0.5);
    width: 100%;
    height: 145px;
    top: 0;
    display: none;
}

.hover__bg {
    width: 100%;
    height: 145px;
    display: flex;
    align-items: center;
    text-align: center;
}

.hover__bg img {
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.slide__wrapper:hover .slide__hover {
    display: block;
}

.portfolio__navigation {
    margin-top: 7px;
    display: flex;
}

.left-arrow, .right-arrow {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    background: rgba(247, 246, 246, 0.3);
    border: 1px solid rgba(216, 216, 216, 0.3);
    cursor: pointer;
}

.left-arrow img, .right-arrow img {
    width: 15px;
    height: 15px;
    margin: 0 auto;
}

.left-arrow {
    margin: 0 5px 0 auto;
}

.left-arrow:hover, .right-arrow:hover {
    background: rgba(19, 19, 19, 0.6);
}

.about {
    height: auto;
    padding-bottom: 40px;
}

.about__card {
    padding: 20px 10px;
    display: flex;
    background: #f0eae0;
    align-items: center;
}

.about__title {
    color: #666666;
}

.image__desc {
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 32px;
    position: absolute;
    bottom: 15px;
    width: 230px;
    height: 35px;
    background: rgba(95, 59, 55, 0.4);
}

.image__wrapper img {
    height: 270px;
}

.card__content {
    margin-left: 20px;
    background: #f0eae0;
}

.card__img {
    position: relative;
}

.image__desc h5 {
    margin-left: 15px;
}

.about-content__title {
    color: #666666;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.about-content__text {
    color: #888888;
    font-size: 14px;
    line-height: 32px;
    font-family: 'Noto Sans', sans-serif;
}

.footer {
    height: auto;
    background: #40403f;
}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    height: auto;
}

.footer__nav{
    width: 20%;
}
.footer__contact {
    width: 40%;
}

.footer__nav h3 {
    color: #e1e1e1;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer__list, .contact__list--item {
    color: #bdbcbc;
    font-family: 'Noto Sans', sans-serif;
}

.footer__list--item, .contact__list--item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.footer__list--item::before {
    content: '';
    display: block;
    background-image: url(../img/footer-arrox.png);
    margin-right: 10px;
    width: 3px;
    height: 5px;
}

.footer__contact h3 {
    color: #e1e1e1;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact__list--item {
    width: 100%;
}

.contact__list--item img {
    text-align: center;
    margin: 0 auto;
}

.img__wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    width: 10%;
    margin-right: 10px;
}

.footer__form {
    width: 40%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

form input {
    height: 35px;
    width: 265px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

form textarea {
    width: 265px;
    height: 60px;
    resize: none;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

form .submit {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    background: #bb4a1b;
    border: none;
    font-size: 14px;
    color: #fdfefe;
    text-transform: uppercase;
    border-radius: 5px;
}

form .submit:hover {
    background: #a14016;
    cursor: pointer;
}

.footer__copy {
    background: #2e2d2d;
    height: 65px;
    display: flex;
    align-items: center;
}

.footer__copy-text {
    color: #888888;
    font-size: 14px;
    line-height: 24px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #8D8D8D;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #8D8D8D;
}

input::placeholder, textarea::placeholder, input::-ms-input-placeholder, textarea::-moz-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #8D8D8D;
}

.hamburger-menu {
    display: none
}

#menu__toggle {
    display: none
}

.menu__btn {
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1000;
    padding-top: 12px;
    right: 30px
}

.menu__btn>span, .menu__btn>span::before, .menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000
}

.menu__btn>span::before {
    content: '';
    top: -8px
}

.menu__btn>span::after {
    content: '';
    top: 8px
}

.menu__box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    margin: 0;
    padding: 80px 0;
    text-align: center;
    background-color: rgba(39, 38, 38, 0.8);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.4)
}

.menu__item {
    text-align: center;
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer
}

.menu__item:hover {
    color: #bb4a1b;
}

#menu__toggle:checked~.menu__btn>span {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 0
}

.menu__btn>span, .menu__btn>span::before, .menu__btn>span::after {
    transition-duration: .25s
}

.menu__box {
    transition-duration: .25s
}

.menu__item {
    transition-duration: .25s
}